body {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  color: var(--secondary--color);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Alatsi', sans-serif;
  @media screen and (max-width: 720px) {
    font-size: 20px;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: 'Alatsi', sans-serif;
}

$text-align: justify center right left unset;

@each $key in $text-align {
  .text-#{$key} {
    text-align: #{$key} !important;
  }
}

$display: none inline inline-block block grid table table-cell table-row flex
  inline-flex;
@each $key in $display {
  .d-#{$key} {
    display: $key !important;
  }
}

$float: left right none;
@each $key in $float {
  .float-#{$key} {
    float: $key;
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

.position-absolute{
  position: absolute;
}

@each $key, $val in $width-height {
  .w-#{$key} {
    width: var(--width--#{$key}) !important;
  }
  .h-#{$key} {
    height: var(--height--#{$key}) !important;
  }
  .mw-#{$key} {
    max-width: var(--max-width--#{$key}) !important;
  }
  .mh-#{$key} {
    max-height: var(--max-height--#{$key}) !important;
  }
}

hr {
  &.size-2 {
    border-width: 2px;
    border-color: var(--gray300--color);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    overflow: hidden;
    margin: 0px;
  }
  border-color: var(--gray300--color);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  overflow: hidden;
  margin: 0px;
}

@each $key, $val in $margin {
  .mt-#{$key} {
    margin-top: var(--margin--#{$key}) !important;
  }
  .mb-#{$key} {
    margin-bottom: var(--margin--#{$key}) !important;
  }
  .ml-#{$key} {
    margin-left: var(--margin--#{$key}) !important;
  }
  .mr-#{$key} {
    margin-right: var(--margin--#{$key}) !important;
  }
  .pt-#{$key} {
    padding-top: var(--padding--#{$key}) !important;
  }
  .pb-#{$key} {
    padding-bottom: var(--padding--#{$key}) !important;
  }
  .pl-#{$key} {
    padding-left: var(--padding--#{$key}) !important;
  }
  .pr-#{$key} {
    padding-right: var(--padding--#{$key}) !important;
  }
}

$align-items: normal center start end flex-start flex-end unset;

@each $val in $align-items {
  .align-#{$val} {
    align-items: #{$val} !important;
  }
}

$justify-content: center start flex-start flex-end left right normal
  space-between space-around stretch;

@each $val in $justify-content {
  .justify-content-#{$val} {
    justify-content: #{$val} !important;
  }
}

a,
a:hover {
  text-decoration: none;
}
